<template>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">
            Register
          </h3>
          <p class="subtitle has-text-grey">
            Please register to proceed.
          </p>
          <div class="box">
            <figure class="avatar">
              <img src="https://via.placeholder.com/300">
            </figure>
            <form>
              <div class="field">
                <div class="control">
                  <input
                    class="input is-large"
                    type="text"
                    placeholder="Username"
                  >
                  <!-- <div class="form-error">
                    <span class="help is-danger">Username is required</span>
                  </div> -->
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input
                    class="input is-large"
                    type="text"
                    placeholder="Name"
                  >
                  <!-- <div class="form-error">
                    <span class="help is-danger">Name is required</span>
                  </div> -->
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input
                    class="input is-large"
                    type="email"
                    placeholder="Your Email"
                  >
                  <!-- <div class="form-error">
                    <span class="help is-danger">Email is required</span>
                    <span class="help is-danger">Email address is not valid</span>
                  </div> -->
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input
                    class="input is-large"
                    type="text"
                    placeholder="Avatar"
                    autocomplete=""
                  >
                  <!-- <div class="form-error">
                    <span class="help is-danger">Url format is not valid!</span>
                    <span class="help is-danger">Selected file type is not valid!</span>
                  </div> -->
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input
                    class="input is-large"
                    type="password"
                    placeholder="Your Password"
                    autocomplete="new-password"
                  >
                  <!-- <div class="form-error">
                    <span class="help is-danger">Password is required</span>
                    <span class="help is-danger">Password minimum length is 6 letters</span>
                  </div> -->
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input
                    class="input is-large"
                    type="password"
                    placeholder="Password Confirmation"
                    autocomplete="off"
                  >
                  <!-- <div class="form-error">
                    <span class="help is-danger">Password is required</span>
                    <span class="help is-danger">Password confirmation should be the same as password</span>
                  </div> -->
                </div>
              </div>
              <button @click="() => {}" type="submit" class="button is-block is-info is-large is-fullwidth">
                Register
              </button>
            </form>
          </div>
          <p class="has-text-grey">
            <nuxt-link to="/login">
              Login
            </nuxt-link> &nbsp;·&nbsp;
            <a>Sign Up With Google</a> &nbsp;·&nbsp;
            <a href="../">Need Help?</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
  .hero.is-success {
    background: #F2F6FA;
  }

  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 5rem;
  }

  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }

  .avatar img {
    height: 128px;
    width: 128px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  }

  p.subtitle {
    padding-top: 1rem;
  }
</style>
